---
cluster: "launch"
form:
  - version
  - env_type
  - python_module
  - path_to_virtualenv
  - conda_module
  - conda_extensions
  - conda_env_to_activate
  - path_to_image_file
  - extra_jupyter_args
  - node_type
  - num_gpus
  - cpu_num_hours
  - gpu_num_hours
  - num_cores
  - cpu_total_memory
  - gpu_total_memory
  - bc_account
  - email
attributes:
  version: ""
  env_type:
    label: "Type of Environment"
    widget: select
    options:
      - [
            "Anaconda environment","conda",
           data-hide-python-module: true,
           data-hide-path-to-image-file: true,
           data-hide-path-to-virtualenv: true,
        ]
      - [
            "Python module + virtualenv","pythonvenv",
           data-hide-path-to-image-file: true,
           data-hide-conda-module: true,
           data-hide-conda-env-to-activate: true,
        ]
      - [
            "Containers (Singularity/Charliecloud)","container",
           data-hide-python-module: true,
           data-hide-path-to-virtualenv: true,
           data-hide-conda-module: true,
           data-hide-conda-env-to-activate: true,
        ]
    help: |
      Select the type of environment in which Jupyter is installed. [Help me choose]
      <p id="env_type_help"></p>

      [Help me choose]: https://hprc.tamu.edu/kb/Software/Portal/#jupyter-notebook
  python_module:
    label: "Select Python Module Version"
    widget: select
    options:
      - ["Python/3.10.8", "GCCcore/12.2.0 Python/3.10.8"]
      - ["Python/3.11.5", "GCC/13.2.0 Python/3.11.5"]
  path_to_virtualenv:
    label: "Optional Python virtualenv to be activated"
    widget: "text_field"
    help: |
      Enter the full path to a python virtual environment "activate" script to be activated.  This field is optional. If used, it will override the default Jupyter.

      E.g. /scratch/user/netid/...path-to-env../bin/activate

      Your optional environment must have been previously built with the Python module selected in the Module option above. It is expected to have a Jupyter package installed. Please see
      [instructions].

      [instructions]: https://hprc.tamu.edu/kb/Software/Portal/#jupyter-notebook
  conda_module:
    label: "Select Anaconda Version"
    help: "Select a Conda module to load. All modules listed include Python and Jupyter. "
    widget: select
    options:
      - ["Anaconda3/2023.09-0"]
  conda_extensions: "0"
  conda_env_to_activate:
    label: "Optional Conda Environment to be Activated"
    widget: "text_field"
    help: |
      Enter the name of environment to be activated.  This field is optional.

      Your optional environment must have been previously built with the Anaconda module selected in the Module option above. Please see
      [instructions].

      [instructions]: https://hprc.tamu.edu/kb/Software/Portal/#jupyter-notebook

  path_to_image_file:
    label: "Enter the full path to an image file or use the select button below."
    widget: "text_field"
    data-filepicker: true
    data-target-file-type: files
    help: |
      [Singularity] and [Charliecloud] images are supported. Images should contain the Jupyter app. Charliecloud images should additionally have a /scratch directory. 

      [Singularity]: https://hprc.tamu.edu/kb/Software/Singularity
      [Charliecloud]: https://hprc.tamu.edu/kb/Software/CharlieCloud
  extra_jupyter_args: ""

  bc_account:
    help: "This field is optional."
  cpu_num_hours:
    widget: 'number_field'
    label: "Number of hours (max 48)"
    value: 1
    min: 1
    max: 48
  gpu_num_hours:
    widget: 'number_field'
    label: "Number of hours (max 48)"
    value: 1
    min: 1
    max: 48
  num_cores:
    label: "Number of cores (max 192)"
    value: 1
    min: 1
    max: 192

  node_type:
    widget: select
    label: "Node type"
    options:
      - [
            "CPU only", "CPU",
           data-hide-num-gpus: true,
           data-hide-gpu-num-hours: true,
           data-hide-gpu-total-memory: true,
        ]
      - [
            "A30 GPU", "a30",
           data-max-num-gpus: 2,
           data-hide-cpu-num-hours: true,
           data-hide-cpu-total-memory: true,
        ]
    help: |
      - Select a GPU node for software that supports GPU processing.
  num_gpus:
    widget: 'number_field'
    label: "Number of GPUs"
    value: 1
    min: 1
    max: 2
    help: |
      - Run the **gpuavail** command on the terminal (Clusters -> _launch Shell Access) to see the current GPU configuration and availability
  cpu_total_memory:
    widget: "number_field"
    value: "1"
    min: "1"
    max: "371"
    label: "Total GB memory (max 371)"
  gpu_total_memory:
    widget: "number_field"
    value: "1"
    min: "1"
    max: "742"
    label: "Total GB memory (max 742)"
  email:
    help: "This field is optional."

